html
    html(lang="en")
        head
        title Super duper scraper
        meta(charset='UTF-8')
        link(rel='stylesheet', href='css/style.css', type='text/css')

    body
        img(src='images/big-night-out.jpg', alt='Big night out image')

        - var err = error;
            if err
                p= err


        - var values = result;
        ul
            if result
                each value in values
                    ol= value.movie
                    br

        form(method='GET' action='/process_get')
            input(type = 'text', name = 'url', placeholder = 'Enter your url!')
            button.button(type='submit', value='Enter') Enter
