html
    html(lang="en")
        head
        title Super duper scraper
        meta(charset='UTF-8')
        link(rel='stylesheet', href='css/style.css', type='text/css')

    body
        img(src='image/big-night-out.jpg', alt='Big night out image')
        form(method='GET' action='/process_get')
            input(type = 'text', name = 'url', placeholder = 'Enter your url!')
            button.button(type='submit', value='Enter') Enter



